{% extends 'base.html.twig' %}

{% block title %}Balade pour chien
{% endblock %}

{% block body %}


	{# HAUT DE PAGE================== #}
	<header>
		<div class="haut-page">
			<video id="background-video" autoplay loop muted poster="{{ asset('images/video-accueil.mp4') }}">
				<source src="{{ asset('images/video-accueil.mp4') }}" type="video/mp4">
			</video>
			<div class="logo-header">
				<img src="{{ asset('images/LOGO.png') }}" alt="logo" class="logo-css">
			</div>
			<nav class="navbar-centrale navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">

							<li class="nav-item">
								<a class="nav-link" href="{{ path('balades') }}">
									Trouver une balade
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="" role="button">
									Rejoindre le groupe de balade
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('conseils') }}" role="button">
									Nos conseils
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="{{ path('contact') }}">
									Nous contacter
								</a>

							</li>
						</ul>
					</div>
				</div>
			</nav>
			{# POP UP =================#}
			<div class="btn-dangersdiv">
				<button type="button" class="btn-dangers" data-bs-toggle="modal" data-bs-target="#popup">
					<i class="fa-sharp fa-solid fa-shield-exclamation"></i>
					DANGERS POUR VOS CHIENS</button>
			</div>
			<div id="popup" class="modal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<p>Retrouver les lieux à risque pour vos chiens.</p>
						</div>
						<div class="modal-body">
							<p>
								La nature peut présenter un dangers pour vos chiens : chenille processionnaire, cyanobactérie. Pour aider à éviter ses liens potentiellements mortelles pour vos chiens nous collaborons pour enregistrer et afficher les lieux qu'il faut éviter.
							</p>
							<div class="modal-footer">
								<a class="btn-voirdangers" href="{{ path('dangers') }}">Voir les dangers</a>
								<a class="btn-voirdangers" href="{{ path('home') }}">Fermer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	{# 2EME Bloque ============#}

	<div class="find-balade">

		<h2 >Trouver une balade</h2>

		<div class="btn-balade">

		<div>	<a class="btn-choix" href="">Guérande</a></div>
		<div>	<a class="btn-choix" href="">La Baule</a></div>
		<div>	<a class="btn-choix" href="">Le Pouliguen</a></div>
		<div>	<a class="btn-choix" href="">St andré</a></div>
		<div>	<a class="btn-choix" href="">Autres</a></div>

		</div>

		<div id="map"></div>


		<script type="text/javascript">
			{% for balade in balades %}
var villes = {
"{{ balade.nameBalade }}": {
"lat": {{ balade.latBalade }},
"lon": {{ balade.lngBalade }}
}

};
console.log({{ balade.latBalade }}, {{ balade.lngBalade }},"{{ balade.nameBalade }}"){% endfor %}
// Fonction d'initialisation de la carte


// Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
map = L.map('map').setView([
47.2843726, -2.3951595
], 11);
// Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © OpenStreetMap/ODbL - rendu OSM France',
minZoom: 5,
maxZoom: 15
}).addTo(map);
// Nous parcourons la liste des villes
{% for balade in balades %}
var marker = L.marker([{{ balade.latBalade }}, {{ balade.lngBalade }}]).addTo(map);{% endfor %}


		</script>


	</div>

	{# 3eme BLOQUE =====================#}

	<div class="find-groupe">
		<h2>Rejoindre le groupe de balade</h2>

		<div class="row row_groupe_accueil">
			<div class="col-md-12 col_groupe_accueil">
			
			</div>
		</div>


		<a href="#" class="btn-tousgroupes">Voir le groupe sur facebook</a>

	</div>

	{# 4eme bloque =======================#}
	<h2 class="h2-conseils">Nos conseils</h2>
	<div class="conseils">
		{% for conseil in conseils|slice(0, 3) %}
			<div class="card_conseil">
				<div class="row row_groupe_accueil">
					<div class="col-md-12 col_groupe_accueil">

						<div class="card-body">
							<h5 class="card-title">{{ conseil.titleConseil }}</h5>
							<img src="{{ asset('uploads/photoConseil/' ~ conseil.photoConseil ) }}" width="100">
							<p class="card-text">{{ conseil.textConseil }}</p>
							<a href="#" class="btn-tousgroupes">Voir plus</a>
						</div>

					</div>
				</div>

			</div>
		{% endfor %}
	</div>

	{# 5eme BLOQUE=================== #}
	<div class="form-actu">
		<h2>Participez à l'actualité de baladepourchien.fr</h2>
		<p>Vous connaissez des balades près de chez vous ? Partagez les sur le site baladepourchien.fr afin de participer à faire grandir le choix de balade pour les propriétaires de chien de se site qui ne connaissent pas encore les balades près de chez eux. 
		<br>Participez également à l'enregistrement des dangers afin d'éviter les risques avec nos amis les chiens. (chenilles, eaux contaminés)
		</p>
		<div class="btn-actu">
			<a class="nv-balades" href="{{ path('app_balades_new') }}">Nouvelles balades</a>
			<a class="nv-dangers" href="{{ path('app_dangers_new') }}">Nouveaux dangers</a>

		</div>
	</div>
{% endblock %}
