{% extends 'base.html.twig' %}

{% block title %}Conseils
{% endblock %}

{% block body %}
	<div class="nosdangers">

		<h1>Dangers
			<i class="fa-solid fa-skull-crossbones"></i>
		</h1>


		<div id="map"></div>


		<script type="text/javascript">
			{% for dangers in dangers %}

console.log({{ dangers.latdanger }}, {{ dangers.lngdanger }},"{{ dangers.nameDanger }}");{% endfor %}
// Fonction d'initialisation de la carte


// Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
var map = L.map('map').setView([
47.2843726, -2.3951595
], 11);
// Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © OpenStreetMap/ODbL - rendu OSM France',
minZoom: 5,
maxZoom: 15
}).addTo(map);
// Nous parcourons la liste des villes
{% for dangers in dangers %}
var myIcon = L.icon({
iconUrl: "{{ asset('images/dangers.png') }}",
iconSize: [20, 20]
});{% endfor %}
{% for dangers in dangers %}
var marker = L.marker([
{{ dangers.latdanger }}, {{ dangers.lngdanger }}
], {icon: myIcon}).addTo(map).bindPopup('{{ dangers.nameDanger }}<br> Ajouté le :  {{ dangers.createAt|format_datetime('short', 'none', locale='fr') }}');{% endfor %}
		
		</script>
</div>

	
	<div class="niveau0_btn_autres">
		<div class="niveau1_btn_autres">
			<h3>Vous pourriez être interressé par :</h3>
		</div>
		<div class="niveau2_btn_autres">
			<a href="{{ path('home') }}">Page d'accueil</a>
			<a href="{{ path('balades') }}">Nos balades</a>
			<a href="{{ path('conseils') }}">Nos conseils</a>
			<a href="{{ path('dangers') }}">Entrer dans le groupes</a>
			<a href="{{ path('contact') }}">Nous contacter</a>
		</div>

	</div>
{% endblock %}
