{% extends 'base.html.twig' %}


{% block title %}Balade pour chien
{% endblock %}

{% block body %}
	<div class="page_balade">

		<h1 class="title-balade">Trouver votre futur balade !
		</h1>

		<div id="map"></div>


		<script type="text/javascript">
			{% for balade in balades %}
var villes = {
"{{ balade.nameBalade }}": {
"lat": {{ balade.latBalade }},
"lon": {{ balade.lngBalade }}
}

};
console.log({{ balade.latBalade }}, {{ balade.lngBalade }},"{{ balade.nameBalade }}");{% endfor %}
// Fonction d'initialisation de la carte


// Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
var map = L.map('map').setView([
47.2843726, -2.3951595
], 11);
// Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
minZoom: 5,
maxZoom: 15
}).addTo(map);
// Nous parcourons la liste des villes
{% for balade in balades %}
var marker = L.marker([{{ balade.latBalade }}, {{ balade.lngBalade }}]).addTo(map);{% endfor %}
		</script>
<div class="bouton-balade">
		<button type="button" class="btn-choix" data-filter="all">Toutes les balades</button>
		<button type="button" class="btn-choix" data-filter=".Baule">La baule</button>
		<button type="button" class="btn-choix" data-filter=".Pornichet">Pornichet</button>
		<button type="button" class="btn-choix" data-filter=".Guérande">Guérande</button>
    <button type="button" class="btn-choix" data-filter=".Pouliguen">Le Pouliguen</button>
    <button type="button" class="btn-choix" data-filter=".Saint-andré-des-eaux">Saint-André</button>
		</div>
    <div class="container index-balade-choix">

			{% for balade in balades %}
				<div class="mix card card_balade {{ balade.areaBalade }} " style="width: 18rem;">
					<img class="img_chien" src="{{ asset('uploads/photoBalade/' ~ balade.photoBalade ) }}">
					<div class="card-body">
						<h3 class="card-title">{{ balade.nameBalade }}</h3>
						<h4 class="card-title">Lieu :
							{{ balade.areaBalade }}
						</h4>
						<p class="card-text">Durée :
							{{ balade.timeBalade ? balade.timeBalade|date('H:i') : '' }}heure</p>
						<a href="{{ path('app_balades_show', {'id': balade.id}) }}" class="btn ">Voir plus</a>
					</div>


				</div>

			

			{% endfor %}
      
		</div>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="../js/mixitup.js"></script>
		<script>
			var mixer = mixitup(".container");
		</script>


	</div>

<div class="niveau0_btn_autres">
		<div class="niveau1_btn_autres">
			<h3>Vous pourriez être interressé par :</h3>
		</div>
		<div class="niveau2_btn_autres">
		<a href="{{ path('app_balades_new') }}">Ajouter une balade</a>
			<a href="{{ path('home') }}">Page d'accueil</a>
			<a href="{{ path('conseils') }}">Nos conseils</a>
			<a href="{{ path('dangers') }}">Les dangers signalés</a>
			<a href="{{ path('dangers') }}">Entrer dans le groupes</a>
			<a href="{{ path('contact') }}">Nous contacter</a>
		</div>

	</div>
{% endblock %}
