{% extends 'base.admin.html.twig' %}


{% block title %}Dashboard
{% endblock %}
{% block body %}
	<div class="dash-front">


		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

		</div>

		<!-- Content Row -->
		<div class="row dash_home">
		
				<!-- Earnings (Monthly) Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
							<div class="col-auto">
									<i class="fa-solid fa-door-open"></i>
								</div>
								
								<div class="col mr-2">
								<a href="{{ path('app_groupes_back') }}">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										Demande d'entrer à un groupe
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800" id="counter-label">0</div>
								</div>
								</a>
								
							</div>
						</div>
					</div>
				</div>

				<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
							<div class="col-auto">
									<i class="fa-solid fa-user-group"></i>
								</div>
								
								<div class="col mr-2">
								<a href="{{ path('app_groupes_newg') }}">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										Demande création d'un groupe
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800" id="counter-label">0</div>
								</div>
								</a>
								
							</div>
						</div>
					</div>
				</div>
			
				<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
							<div class="col-auto">
									<i class="fa-solid fa-paw"></i>
								</div>
								
								<div class="col mr-2">
								<a href="{{ path('app_balades_création') }}">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										Demande création d'une balade
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800" id="counter-label">0</div>
								</div>
								</a>
								
							</div>
						</div>
					</div>
				</div>
				<!-- Pending Requests Card Example -->
					<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
							<div class="col-auto">
									<i class="fa-solid fa-comments"></i>
								</div>
								
								<div class="col mr-2">
								<a href="{{ path('app_groupes_back') }}">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										Autres prises de contacts
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800" id="counter-label">0</div>
								</div>
								</a>
								
							</div>
						</div>
					</div>
				</div>

					<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
							<div class="col-auto">
									<i class="fa-solid fa-skull-crossbones"></i>
								</div>
								
								<div class="col mr-2">
								<a href="{{ path('app_groupes_back') }}">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										Dangers signalé
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800" id="counter-label">0</div>
								</div>
								</a>
								
							</div>
						</div>
					</div>
				</div>

		</div>
	</div>
</div></body></html>{% endblock %}
