{% extends 'base.html.twig' %}

{% block title %}Nouvelle Balade{% endblock %}

{% block body %}
   

    

<div class="block-edit">
    <h1 class="title-edit">Ajouter une balade</h1>

 {{ form_start(form, {'attr': {'class': 'formulaire'}}) }}
 <div class="block_edit_user">

  
 {{ form_label(form.nameBalade) }}
  {{ form_widget(form.nameBalade,{'attr': {'class': 'input'}}) }}

 {{ form_label(form.photoBalade) }}
  {{ form_widget(form.photoBalade,{'attr': {'class': 'input'}}) }}

 {{ form_label(form.timeBalade) }}
  {{ form_widget(form.timeBalade,{'attr': {'class': 'input'}}) }}

{{ form_label(form.areaBalade) }}
  {{ form_widget(form.areaBalade,{'attr': {'class': 'input'}}) }}

{{ form_label(form.latBalade) }}
  {{ form_widget(form.latBalade,{'attr': {'class': 'input'}}) }}

{{ form_label(form.lngBalade) }}
  {{ form_widget(form.lngBalade,{'attr': {'class': 'input'}}) }}


{{ form_label(form.activite) }}
  {{ form_widget(form.activite,{'attr': {'class': 'input'}}) }}

  </div>
   <button class="btn">{{ button_label|default('Save') }}</button>
 {{ form_end(form, {'attr': {'class': 'formulaire'}}) }}
  
</div>
<div class="niveau0_btn_autres">
		<div class="niveau1_btn_autres">
			<h3>Vous pourriez être interressé par :</h3>
		</div>
		<div class="niveau2_btn_autres">
		<a href="{{ path('app_dangers_new') }}">Ajouter un danger</a>
			<a href="{{ path('home') }}">Page d'accueil</a>
			<a href="{{ path('conseils') }}">Nos conseils</a>
			<a href="{{ path('dangers') }}">Les dangers signalés</a>
			<a href="{{ path('dangers') }}">Entrer dans le groupes</a>
			<a href="{{ path('contact') }}">Nous contacter</a>
		</div>

	</div>
    
{% endblock %}
