{% extends 'base.html.twig' %}

{% block title %}Nouvelle Balade{% endblock %}

{% block body %}
   

    

<div class="block-edit">
    <h1 class="title-edit">Ajouter une balade</h1>
	{{ form_start(form, {'attr': {'class': 'formulaire'}}) }}
 <div class="block_edit_user">

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nom de la Baldade</label>
    {# {{ form_label(form.nameBalade) }} #}
  {{ form_widget(form.nameBalade,{'attr': {'class': 'input'}}) }}
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
 
  
 {{ form_label(form.photoBalade) }}
  {{ form_widget(form.photoBalade,{'attr': {'class': 'input'}}) }}

 {{ form_label(form.timeBalade) }}
  {{ form_widget(form.timeBalade,{'attr': {'class': 'input'}}) }}

{{ form_label(form.areaBalade) }}
  {{ form_widget(form.areaBalade,{'attr': {'class': 'input'}}) }}

{{ form_label(form.latBalade) }}
  {{ form_widget(form.latBalade,{'attr': {'class': 'input'}}) }}

{{ form_label(form.lngBalade) }}
  {{ form_widget(form.lngBalade,{'attr': {'class': 'input'}}) }}


{{ form_label(form.activite) }}
  {{ form_widget(form.activite,{'attr': {'class': 'input'}}) }}

  </div>
   <button class="btn">{{ button_label|default('Save') }}</button>
 {{ form_end(form, {'attr': {'class': 'formulaire'}}) }}
  
</div>
<div class="niveau0_btn_autres">
		<div class="niveau1_btn_autres">
			<h3>Vous pourriez être interressé par :</h3>
		</div>
		<div class="niveau2_btn_autres">
		<a href="{{ path('app_dangers_new') }}">Ajouter un danger</a>
			<a href="{{ path('home') }}">Page d'accueil</a>
			<a href="{{ path('conseils') }}">Nos conseils</a>
			<a href="{{ path('dangers') }}">Les dangers signalés</a>
			<a href="{{ path('dangers') }}">Entrer dans le groupes</a>
			<a href="{{ path('contact') }}">Nous contacter</a>
		</div>

	</div>
    
{% endblock %}
