{% extends 'base.html.twig' %}

{% block title %}Balades{% endblock %}

{% block body %}
    <h1>Balades</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ balade.id }}</td>
            </tr>
            <tr>
                <th>NameBalade</th>
                <td>{{ balade.nameBalade }}</td>
            </tr>
            <tr>
                <th>PhotoBalade</th>
                <td>{{ balade.photoBalade }}</td>
            </tr>
            <tr>
                <th>TimeBalade</th>
                <td>{{ balade.timeBalade ? balade.timeBalade|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AreaBalade</th>
                <td>{{ balade.areaBalade }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_balades_index') }}">back to list</a>

    <a href="{{ path('app_balades_edit', {'id': balade.id}) }}">edit</a>

    {{ include('balades/_delete_form.html.twig') }}
{% endblock %}
