{% extends 'base.html.twig' %}

{% block title %}Balades{% endblock %}

{% block body %}
<div class="balade_show">
    <h1>La balades : {{ balade.nameBalade }} </h1>
<div class="block_balade_show">
    <div class="show_balade">
<h2>Vous avez choisis une balade à {{ balade.areaBalade }} </h2>
            
               <p>Durée : {{ balade.timeBalade ? balade.timeBalade|date('H:i') : '' }}h </p> 
        
                  {% for activite in balade.activite %}
                  
    

               <p>Activités disponible : {{activite.nameActivite}} </p>
                {% endfor %}
           
    <a class="btn-dm_show" href="{{ path('balades') }}">Revenir à la liste</a>

    
    </div>
    <div class="show_balade-2">
    <img class="img_balade_show" src="{{ asset('uploads/photoBalade/' ~ balade.photoBalade ) }}"alt="">
    </div>
    </div>
</div>
  
{% endblock %}
