{% extends 'base.html.twig' %}

{% block title %}Balades
{% endblock %}

{% block body %}
	<div class="balade_show">
		<h1>La balades :
			{{ balade.nameBalade }}
		</h1>
		<div class="block_balade_show">
			<div class="show_balade">
				<h2>Vous avez choisis une balade à
					{{ balade.areaBalade }}
				</h2>

				<p>Durée :
					{{ balade.timeBalade ? balade.timeBalade|date('H:i') : '' }}h
				</p>

				


					<p>Activités disponible :
					{% for activite in balade.activite %}
					<li>	{{activite.nameActivite}}</li>
						{% endfor %}
					</p>
				

				<a class="btn-dm_show" href="{{ path('balades') }}">Revenir à la liste</a>

			


			</div>
      <div class="photo-balade">
   
					<img src="{{ asset('uploads/photoBalade/' ~ balade.photoBalade ) }}" width="400">
			
				
		</div>
		</div>
	

	</div>
	{# <img class="img_balade_show" src="{{ asset('uploads/photoBalade/' ~ balade.photoBalade ) }}"alt=""> #}
	<div id="map"></div>


	<script type="text/javascript">

		var villes = {
"{{ balade.nameBalade }}": {
"lat": {{ balade.latBalade }},
"lon": {{ balade.lngBalade }}
}

};
console.log({{ balade.latBalade }}, {{ balade.lngBalade }},"{{ balade.nameBalade }}")
// Fonction d'initialisation de la carte


// Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
map = L.map('map').setView([
47.2843726, -2.3951595
], 11);
// Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © OpenStreetMap/ODbL - rendu OSM France',
minZoom: 5,
maxZoom: 15
}).addTo(map);
// Nous parcourons la liste des villes
var lat = {{ balade.latBalade }};
var lng = {{ balade.lngBalade }};

// Créer le marqueur
var marker = L.marker([lat, lng]).addTo(map);

// Contenu du popup avec les liens vers Waze et Google Maps
var popupContent = `
<h2>Coordonnées gps</h2>
    <h3>{{ balade.latBalade }}</h3>
    <h3>{{ balade.lngBalade }}</h3>
    <button class="btn-choix" id="wazeLink">J'y vais avec Waze</button>
    <button class="btn-choix" id="googleMapsLink">J'y vais avec Google Maps</button>
`;

// Ajouter le popup au marqueur
marker.bindPopup(popupContent);

marker.on("popupopen", function() {
  
    // Ajouter un événement de clic au lien Google Maps
    document.getElementById("googleMapsLink").addEventListener("click", function() {
        var googleMapsUrl = "https://www.google.com/maps/dir/?api=1&destination=" + lat + "," + lng;
        window.open(googleMapsUrl, "_blank");
    });
});
	</script>


</div>{% endblock %}
