{% extends 'base.html.twig' %}

{% block title %}Nouveau danger{% endblock %}

{% block body %}
<div class="block-edit">
    <h1>Ajouter un nouveau danger</h1>
    

 {{ form_start(form, {'attr': {'class': 'formulaire'}}) }}
 <div class="block_edit_user">

  
 {{ form_label(form.areaDanger) }}
  {{ form_widget(form.areaDanger,{'attr': {'class': 'input'}}) }}

 {{ form_label(form.nameDanger) }}
  {{ form_widget(form.nameDanger,{'attr': {'class': 'input'}}) }}
  {{ form_label(form.lat_danger) }}
  {{ form_widget(form.lat_danger,{'attr': {'class': 'input'}}) }}

{{ form_label(form.lng_danger) }}
  {{ form_widget(form.lng_danger,{'attr': {'class': 'input'}}) }}


  </div>
 
 <button class="btn">{{ button_label|default('Créer') }}</button>
 {{ form_end(form, {'attr': {'class': 'formulaire'}}) }}
 
</div>
    
    </div>
{% endblock %}
