{% extends 'base.html.twig' %}

{% block title %}Dogs index{% endblock %}

{% block body %}
<div class="archi_dash">
<a class="retour_btn" href="{{ path('dashboard') }}"> <i class="fa-solid fa-arrow-left"></i>RETOUR </a>
    <h1>Les chiens</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom du chien</th>
                <th>Photo du chien</th>
                <th>Race</th>
                <th>Caractère</th>
                <th>Age</th>
                <th>Propriétaire</th>
              
            </tr>
        </thead>
        <tbody>
        {% for dog in dogs %}
            <tr>
              
                <td>{{ dog.nameDog }}</td>
                <td><img src="{{ asset('uploads/photoDog/' ~ dog.photoDog ) }}" width="100"></td>
                <td>{{ dog.raceDog }}</td>
                <td>{{ dog.descriptionDog }}</td>
                <td>{{ dog.ageDog }}</td>
                
                  <td>{{dog.user.nameUser}}</td>
                
                <td>
                   
                    <a class="btn" href="{{ path('app_dogs_edit', {'id': dog.id}) }}">Modifier</a>
                    {{ include('dogs/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_dogs_new') }}">Créer un nouveau chien</a>
    </div>
{% endblock %}
