{% extends 'base.html.twig' %}

{% block title %}Nouveau chien{% endblock %}

{% block body %}
   

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header">
                    <h1 class="text-center">Créer un nouveau chien</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'formulaire'}}) }}
                    <div class="form-group">
                        {{ form_label(form.nameDog, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                        {{ form_widget(form.nameDog, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.raceDog, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                        {{ form_widget(form.raceDog, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.descriptionDog, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                        {{ form_widget(form.descriptionDog, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.ageDog, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                        {{ form_widget(form.ageDog, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.photoDog, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                        {{ form_widget(form.photoDog, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{{ button_label|default('Créer') }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}