{% extends 'base.html.twig' %}

{% block title %}Activites{% endblock %}

{% block body %}
<div class="archi_dash">
<a class="retour_btn" href="{{ path('dashboard') }}"> <i class="fa-solid fa-arrow-left"></i>RETOUR </a>
    <h1>Activités et spécificité d'une balade ou d'un chien</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Emoji</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
               
                <td>{{ activite.nameActivite }}</td>
                 <td><img src="{{ asset('uploads/emoji/' ~ activite.emoji) }}" width="50" height="50"></td>
                <td>
                
                    <a class="btn" href="{{ path('app_activites_edit', {'id': activite.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_activites_new') }}">Créer un nouveau</a>
    </div>
{% endblock %}
